.main-page-container {
  display: flex;
  flex-direction:column;
  justify-content: flex-start; /* Garante que o conteúdo comece do topo */
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../assets/fundoBolinhas.gif');
  min-height: 100vh; /* Garante que o container ocupe ao menos 100% da altura da viewport */
}

.scroll-indicator {
  font-size: 2rem;
  color: #6a3a97;
  cursor: pointer;
  margin: 20px 0; /* Espaçamento da seta */
  animation: bounce 2s infinite; /* Animação para a seta "pular" */
}

/* Animação para fazer a seta pular */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#ecosystem-section {
  margin-top: -10%;
  padding: 20px;
  width: 100%;

}

@media screen and (max-width: 768px){
  .main-page-container{
    background-size:cover;
  }
}