/* Estilos gerais */
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .upload-item h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center; /* Centraliza o título horizontalmente */
  }
  .upload-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px; /* Adiciona algum preenchimento interno para dar espaço entre o conteúdo e a borda */
    border: 2px solid white; /* Define a borda branca */
    border-radius: 10px; /* Arredonda os cantos da borda */
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

  }

  .upload-item:hover{
    background-color: #880988;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
  }
  
  .file-upload-area {
    border: 2px dashed #4caf50;
    padding: 40px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .file-upload-area:hover {
    background-color: #f0f0f0;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .name-input {
    padding: 12px;
    width: 100%; /* Faz com que os inputs ocupem toda a largura do container */
    max-width: 200px; /* Limita a largura máxima */
    margin-top: 10px; /* Espaço entre os campos */
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 1rem;
    display: block; 
  }
  .select-input {
    padding: 12px;
    width: 100%; /* Faz com que os inputs ocupem toda a largura do container */
    max-width: 223px; /* Limita a largura máxima */
    margin-top: 10px; /* Espaço entre os campos */
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 1rem;
    display: block; 
  }
  
  button.submit-button {
    background-color: #af4caf;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  button.submit-button:hover {
    background-color: #8b45a0;
  }
  
  input[type="text"]:focus, button:focus {
    outline: none;
    border-color: #9e4caf;
  }
  
  .upload-item .name-input {
    font-size: 1rem;
    padding: 10px;
    margin-top: 10px;
  }
  
  .upload-item .file-upload-area p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .upload-item .file-upload-area {
    border: 2px dashed #dae4da;
  }
  
  .upload-item .file-upload-area:hover {
    background-color: #68495e;
  }
  