.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(to right, #492681, #e065ad); /* Gradiente da esquerda para a direita */
}
.container form{
    margin-top: -5%;
}

.media-content{
    display: flex;
    width: 100%;
    max-width: 100%;
}

.expanded-form {
    overflow: hidden;
    height: 0; /* Inicialmente colapsado */
    opacity: 0;
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
}

.expanded-form.open {
    height: auto;
    opacity: 1;
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    align-items: center;
}

.product-box.disabled {
    opacity: 0.5;
    pointer-events: none;}

.download-link{
    margin-bottom: 2%;
}
  
.container {
    background-color: #67428a;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 800px;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container a {
    opacity: 80%;
    color: white;
    font-size: 90%;
    text-decoration: underline;
    margin-bottom: 20px;
}


.form-image {
    height: 100vh;
    width: auto;
    object-fit: contain;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 10%;
}

/* Campo de input */
.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input,
.input-container select {
    width: 80%;
    padding: 14px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.input-container input:focus,
.input-container select:focus {
    border-color: #bb86fc;
    box-shadow: 0 0 8px rgba(187, 134, 252, 0.6);
}

/* Estilo do label dentro do input */
.input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #67428a;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container select:focus + label,
.input-container select:not([value=""]) + label {
    top: -10px;
    font-size: 12px;
    color: black;
}

/* Botão */
button {
    width: 90%;
    padding: 14px;
    background-color: #c84375;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9c71e0;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

/* Estilo para a mensagem de erro */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Estilo para a área de drag and drop */
.dropzone {
    border: 2px dashed #bb86fc;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    color: #bb86fc;
    transition: background-color 0.3s ease;
}

.dropzone:hover {
    background-color: #efefef;
}
.input-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-select label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  .input-select select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
  }
  
  .input-select select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .input-select p {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  } 

/* Estilo das seções de produtos */
.order-selection {
    margin-top: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    gap: 16px;
}

.product-box {
    padding: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s;
}

.product-box:hover {
    border-color: #007bff;
}

.product-details h4 {
    color: black;
    margin: 0;
    font-size: 20px;
}

.product-details p {
    margin: 5px 0 0;
    color: #555;
}

/* Estilo para links informativos */
.info-links {
    margin-top: 20px;
    font-size: 14px;
}

.info-links a {
    color: white;
    text-decoration: underline;
}

.checkbox-container {
    margin-top: 20px;
}

.checkbox-container div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px; /* Espaçamento entre o checkbox e o rótulo */
}

.checkbox-container input {
    margin-right: 8px;
    transform: scale(1.3); /* Tamanho do checkbox aumentado */
    cursor: pointer;
}

.checkbox-container label {
    font-size: 16px;
    color: #fff; /* Cor do texto do rótulo */
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column; /* Empilha os itens verticalmente */
        align-items: center;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .input-container input,
    .input-container select {
        width: 80%;
        padding: 12px;
        font-size: 14px;
    }

    .checkbox-container {
        margin-top: 15px;
    }

    .checkbox-container label {
        font-size: 14px;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }
}


@media screen and (max-width: 480px) {
    .info-section{
        max-width: 59%;
    }
    .media-container {
        flex-direction:row; 
        align-items: center;
        display: flex;
        position: relative;
        max-width: 100%;
    }
    .expanded-form open{
        display: grid;
        align-items: center;
    }

    .form-image {
        position:absolute;
        z-index: 1                      ;
        width: 90%;
        margin-left: -65%; 
        height:30vh;
        margin-top: 15%; 
    }

    .container {
        margin-bottom: 10%;
        display: flex;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }
}

/* Responsividade para telas grandes */
@media screen and (min-width: 2000px) {
    .info-section{
        margin-top: 30%;
        max-width: 60%;
        font-size: 50px;
        line-height: 2;
        margin-left: 5%;
    }
}