.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 40px;
    box-sizing: border-box;
    gap: 20px;
    background-color: #C1B2D0;
    align-items: stretch;
}

.expanded-form {
    overflow: hidden;
    height: 0; /* Inicialmente colapsado */
    opacity: 0;
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
}

.expanded-form.open {
    height: auto;
    opacity: 1;
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
}

.container {
    background-color: #67428a;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 700px;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo do formulário verticalmente */
}

.form-image {
    height: 100vh;
    width: auto;
    margin-right: -200px;
    object-fit: contain;
    transform: scaleX(-1);
    margin-top: 0;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

/* Campo de input */
.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input,
.input-container select {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.input-container input:focus,
.input-container select:focus {
    border-color: #bb86fc;
    box-shadow: 0 0 8px rgba(187, 134, 252, 0.6);
}

/* Estilo do label dentro do input */
.input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #67428a;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container select:focus + label,
.input-container select:not([value=""]) + label {
    top: -10px;
    font-size: 12px;
    color: black;
}

/* Botão */
button {
    width: 100%;
    padding: 14px;
    background-color: #c84375;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9c71e0;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

/* Estilo para a mensagem de erro */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Estilo para a área de drag and drop */
.dropzone {
    border: 2px dashed #bb86fc;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    color: #bb86fc;
    transition: background-color 0.3s ease;
}

.dropzone:hover {
    background-color: #efefef;
}

/* Estilo das seções de produtos */
.order-selection {
    margin-top: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    gap: 16px;
}

.product-box {
    padding: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s;
}

.product-box:hover {
    border-color: #007bff;
}

.product-details h4 {
    color: black;
    margin: 0;
    font-size: 20px;
}

.product-details p {
    margin: 5px 0 0;
    color: #555;
}

/* Estilo para links informativos */
.info-links {
    margin-top: 20px;
    font-size: 14px;
}

.info-links a {
    color: white;
    text-decoration: underline;
}

.checkbox-container {
    margin-top: 20px;
}

.checkbox-container div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px; /* Espaçamento entre o checkbox e o rótulo */
}

.checkbox-container input {
    margin-right: 8px;
    transform: scale(1.3); /* Tamanho do checkbox aumentado */
    cursor: pointer;
}

.checkbox-container label {
    font-size: 16px;
    color: #fff; /* Cor do texto do rótulo */
    cursor: pointer;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .container {
        max-width: 100%;
        padding: 20px;
    }

    .form-image {
        height: 400px; /* Altura menor para dispositivos móveis */
        width: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 18px;
    }
}
