.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-gif {
  width: 200px; /* Ajuste o tamanho conforme necessário */
  height: 200px;
}
