/* Estilo da seção de informações */
.info-section {
  margin-top: 4%;
  font-size: 37px;
  font-family: 'Montserrat', sans-serif;
  word-spacing: 5px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 20px;
  z-index: 2;
}

.info-section .icon {
  display: flex;
  margin-top: 10%;
  margin-left: 20%;
}

.info-section .icon img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.info-section p {
  margin: 0;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .info-section {
      font-size: 15.8px;
      margin-top: 20%;
      font-family: 'Montserrat', sans-serif;
      max-width: 70%;
  }

  .info-section .icon {
      display: none;
  }
  .media-conten img{
    width: 100%;
  }

  .info-section p {
      padding: 8px 0;
  }
}
